@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-datepicker/dist/react-datepicker.css";

/* .modal {
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  } */
  